@charset "UTF-8";

/* MOBILE FIRST */
    
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body,html{
    background-color: #5F2C82;
    height: 100vh;
    width: 100vw;
}

section{
    background-color: white;
    width: 250px;
    height: 520px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #180b20a1;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%,-50%);
}

.div-foto{
    height: 40%;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.titulo{
    text-align: center;
    font-size: 1.8em;
    margin-top: 10px;
}

.texto{
    font-size: 0.7em;
    padding: 10px;
}

div.bglogo{
    background-color: #5F2C82;
    width: 96%;
    height: 40px;
    margin: 5px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.icon{
    color: white;
}

.centralizar{
    text-align: center;
    margin: 5px;
}

label{
    display: none;
}

.inputs{
    background-color: #5F2C82;
    align-items: center;
    gap: 5px;
    display: flex;
    margin: 0%;
    padding: 0 10px; 
}

#isenha,#iemail{
    background-color: #94CFCD;
    border: none;
    height: 30px;
    border-radius: 5px;
    width: 185px;
}

#isenha:focus-within,#iemail:focus-within{
    background-color: white;
}

.entrar{
    background-color: #53AAA7;
    font-size: 1em;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
}

.entrar:hover{
    background-color: #306361;
    cursor: pointer;
}

form > a.esqueci{
    display: flex;
    align-items: center;
    font-size: 1em;
    text-decoration: none;
    color: #215352;
    border: 1px solid #53AAA7;
    padding: 5px;
    width: 96%;
    border-radius: 5px;
    margin: auto;    
    height: 40px;
    justify-content: center;
    gap: 5px;
}

.esqueci:hover{
    background-color: #63ccc8;
    cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;  
}