@charset "UTF-8";
@font-face {
    font-family: 'android';
    src: url(android-pasta/fontes/idroid.otf) format(opentype);
    font-weight: normal;
    font-size: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

header{
    background-image: linear-gradient(to bottom, #82E78A, #55AB55, #3C793C, #2E5E30);
}

h1{
   color: white; 
   text-align: center;
   margin: 0 auto;
   padding: 15px;
   font-family: "Bebas Neue", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 3em;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.295);
}

.texto-header{
    color: #fffffe; 
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    font-size: 1.2em;
    max-width: 600px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.295);
}

nav{
    background-color: #2E5E30;
    box-shadow: 1.5px 1.5px 1.5px #2E5E30;
}
nav > ul{
    display: flex;
    padding: 3px;
    margin: 0px 10px;
    gap: 10px;
}

nav a{
    text-decoration: none;
    font-size: 1em;
    color: white;
    padding: 5px;
    transition: 0.5s;
}

ul {
    list-style: none;
}

nav a:hover{
    color: #025a25;
    background-color: #6dbd74;
    border-radius: 5px;
}

body{
    background-color: #83E1AD;
}

main{
    background-color: white;
    margin: 2px auto;
    padding: 15px 0px;
    box-shadow: 0px 0px 10px #00000080;
    border-radius: 0px 0px 10px 10px;
    max-width: 850px;
    min-width: 320px;
}

h2{
    font-size: 1.8em;
}

.titulos{
    font-family: 'android';
    color: #28722a;
    padding: 10px;
}

.titulos-sec{
    background-image: linear-gradient(to right, rgba(108, 224, 104, 0.575), transparent);
    margin: 10px;
}

.link{
    text-decoration: none;
    color: #0c7a10;
    font-weight: bold;
}

.link:hover{
    color: #2E5E30;
    text-decoration: underline;
}

.texto{
    text-indent: 15px;
    margin: auto;
    text-align: justify;
    padding: 10px;
    line-height: 2em;
}

.foto{
    margin: 15px auto;
    display: block;
    width: 97%;
}

img{
    margin: 15px auto;
    display: block;
}

.video{
    background-color: #0c7a10;
    width: 100%;
    padding: 5px 0px;
    position: relative;
    padding-bottom: 59%;
}

.video-centralize{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    padding: 20px;
}

#secao{
    background-color: #C5EBD6;
    border-radius: 20px;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.247);
}

section ul{
    columns: 2;
}

section li{
    text-align: justify;
    padding: 0px 20px;
   
}

.secao{
    background-color: #2EA866;
    text-indent: 15px;
    color: white;
    padding: 10px 0 5px 0;
}

footer{
    text-align: center;
    color: white;
    background-color: #306232;
    margin: 15px 0 0 0;
}

.letra-rodape{
    color: #C5EBD6;
}

/* faltou: animação do menu, video responsivo, texto com a fonte certa e colocar o abbr em duas colunas */