@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');
@media(max-width:768px) {
    #img01{
        background-attachment: scroll;
    }
    #img02{
        background-attachment: scroll;
    }
}

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:  "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 6vw;
}

#img01{
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-position: right center;
}

#img02{
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-position: right center;

}

header > p{
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-bottom: 10vh;
    padding-top: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}

p{
    padding-bottom: 2em;
}

.img > p{
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 15px 70px 70px 25px;
    text-shadow: 1px 1px 0px black;
}

.normal{
    background-color: white;
    color: black;
}

.img{
    background-color: blueviolet;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-attachment: fixed;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
